.status-sphere {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    transition: background-color .15s ease-in-out;
}

.btn {
    width: 64px;
    height: 64px;
}

.btn-secondary {
    cursor: default;
}
