<div class="card shadow-sm mb-3">
    <div class="card-body d-flex align-items-center" *ngIf="!editable; else editView">
        <div class="mr-3 d-flex justify-content-center align-items-center status-sphere shadow-sm" [ngClass]="statusCss">
            <i class="material-icons text-white">{{ wolDevice.icon }}</i>
        </div>

        <div class="d-flex flex-column">
            <span class="font-weight-bold">{{ wolDevice.name }}</span>
            <span>{{ wolDevice.localIpAddress }} | {{ wolDevice.macAddress }}</span>
        </div>

        <div class="ml-auto">
            <div class="btn-group">
                <button class="d-inline-flex justify-content-center btn btn-primary" (click)="canEdit = true">
                    <i class="material-icons">edit</i>
                </button>
                <a *ngIf="wolDevice.externalIpAddress" [href]="sanitizedUrl" class="d-flex justify-content-center align-items-center btn shadow-sm" [ngClass]="{ 'btn-secondary disabled' : !isOnline, 'btn-dark': isOnline }">
                    <i class="material-icons-outlined">call_to_action</i>
                </a>

                <button [disabled]="!isOffline" class="d-inline-flex justify-content-center btn shadow-sm" [ngClass]="(isOffline) ? 'btn-primary' : 'btn-secondary'" (click)="wakeWolDevice()">
                    <i *ngIf="!isPending; else spinner" class="material-icons">power_settings_new</i>
                </button>
            </div>
        </div>
    </div>

    <ng-template #editView>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="card-body d-flex align-items-center">
                <div class="dropdown dropright mr-3">
                    <button class="d-inline-flex justify-content-center btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons text-white">{{ wolDevice.icon }}</i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button type="button" class="dropdown-item material-icons" [ngClass]="(wolDevice.icon === 'desktop_windows') ? 'active' : ''" (click)="icon = 'desktop_windows'">desktop_windows</button>
                        <button type="button" class="dropdown-item material-icons" [ngClass]="(wolDevice.icon === 'storage') ? 'active' : ''" (click)="icon = 'storage'">storage</button>
                        <button type="button" class="dropdown-item material-icons" [ngClass]="(wolDevice.icon === 'device_hub') ? 'active' : ''" (click)="icon = 'device_hub'">device_hub</button>
                        <button type="button" class="dropdown-item material-icons" [ngClass]="(wolDevice.icon === 'videogame_asset') ? 'active' : ''" (click)="icon = 'videogame_asset'">videogame_asset</button>
                        <button type="button" class="dropdown-item material-icons" [ngClass]="(wolDevice.icon === 'device_unknown') ? 'active' : ''" (click)="icon = 'device_unknown'">device_unknown</button>
                    </div>
                </div>

                <div class="d-flex flex-column mr-3">
                    <input class="form-control form-control-sm mb-1" formControlName="name" name="name" placeholder="Device name"/>
                    <div class="input-group input-group-sm">
                        <input class="form-control" formControlName="localIpAddress" name="localIpAddress" placeholder="Local IP address"/>
                        <input class="form-control" formControlName="externalIpAddress" name="externalIpAddress" placeholder="External IP address"/>
                        <input class="form-control" formControlName="macAddress" name="macAddress" placeholder="MAC address"/>
                    </div>
                </div>
            

                <div class="ml-auto">
                    <div class="btn-group">
                        <button type="submit" class="d-inline-flex justify-content-center btn shadow-sm btn-success" [disabled]="updateSubmitted" >
                            <i *ngIf="!updateSubmitted; else spinner" class="material-icons-outlined">check</i>
                        </button>

                        <button type="button" class="d-inline-flex justify-content-center btn shadow-sm btn-danger" [disabled]="updateSubmitted" (click)="onDelete()">
                            <i class="material-icons text-white">delete</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</div>

<ng-template #spinner>
    <div class="spinner-border spinner-border-sm" role="status"></div>
</ng-template>
