.status-sphere, .dropdown .btn {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    transition: background-color .15s ease-in-out;
}

.btn-group .btn {
    width: 64px;
    height: 64px;
}

:disabled {
    cursor: default;
}

.dropdown-menu {
    min-width: 0;
}
