<div class="row mt-5 mb-5">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div *ngFor="let wolDevice of wolDevices; index as i;">
                    <app-wol-device *ngIf="wolDevice" [wolDevice]="wolDevice" [index]="i" [observableSocket]="observableSocket" (requestDelete)="deleteWolDevice($event)" ></app-wol-device>
                </div>

                <button class="btn btn-primary btn-block shadow-sm" (click)="createWolDevice()">Add new</button>
            </div>
        </div>
    </div>
</div>